---
export const prerender = false;

const slug = Astro.params.slug;

const res = await fetch(`http://localhost:4321/api/app/${slug}.json`);
const app = await res.json();
console.log(app);

---

<h1>{"app.name"}</h1>
<!-- <p>{app.short_description}</p> -->
<!-- <img src={app.icon_url} width="120" /> -->
