---
export async function getStaticPaths() {
  // Fetch list of available slugs from your API
  const slug = Astro.params.slug;
  const res = await fetch("http://localhost:4321/api/app/"+slug);
  const apps = await res.json();

  console.log(apps);
  
  return apps.map(app => ({
    params: { slug: app.app_id.toString() },
    props: { app }
  }));
}

const { app } = Astro.props;
---

<h1>{app.name}</h1>
