---
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return [{
		params: { slug: posts },
		props: "post",
	}];
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<div>
	<H1>hello </H1>
</div>
